.movie-card {
  width: 451px;
  height: 279px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  font-size: 12px;
  text-align: start;
  padding: 0;
}

.ant-card-body {
  padding: 0;
}